.navbar {
  height: 150px;
  background-image: url(imagen/abnner.jpg);
  background-size: cover;
  background-position: top;
}

.nav-link {
  text-emphasis-color: black !important;
  font-size: 20px;
  text-shadow: 0 5px 5px black;
}

a:hover {
  text-decoration: underline;
}
#demo.carousel {
  max-width: 100%;
  margin: 0 auto;
}

#demo.carousel .carousel-item img {
  max-width: 100%;
  max-height: 500px;
  width: auto;
  height: auto;
  object-fit: cover;
  filter: grayscale(20%);
}

/* Nosotros's page */
h2 {
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  padding: 20px;
  margin-bottom: 0;
}
.nleft {
  background-image: url(imagen/Jorge\ sin\ fondo.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto;
  filter: grayscale(50%);
  /* width: 50%; */
  height: 300px;
}

.nright {
  text-align: justify;
  /* margin: 20px; */
  padding: 20px;
}

.art1 p {
  margin-top: 50px;
}

footer {
  background-color: #333;
  text-align: center;
  color: #fff;
  font-size: 16px;
  padding: 20px;
}

footer .redes {
  color: whitesmoke;
  margin-bottom: 20px;
  text-align: start;
  font-size: 18px;
}

footer .redesSociales {
  color: whitesmoke;
  margin-bottom: 20px;
  text-align: end;
}

footer ul {
  list-style: none;
}
footer h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

footer ul li a {
  color: white;
  text-decoration: none;
}

footer li {
  display: inline-block;
  margin: 10px;
}

footer a:hover {
  color: blue;
}
